<div class="container">

  <div class="row">
    <div class="col-sm-3">
        <a href="#/sales" (click)="productCrear('Vehiculos',1)">
          <div class="card text-center border-info">
            <div class="card-body">
              <h5 class="card-title">Vehículo</h5>
            
            </div>
          </div>
        </a>        
    </div>
    
    <div class="col-sm-3">
        <a href="#/sales" (click)="productCrear('Inmuebles',2)">
          <div class="card text-center border-info" >
            <div class="card-body">
              <h5 class="card-title">Inmuebles</h5>
                        
            </div>
          </div>
        </a>        
    </div>
    <div class="col-sm-3">
        <a href="#/sales" (click)="productCrear('Servicos',3)">
          <div class="card text-center border-info " >
            <div class="container-fluid"> 
              <div class="card-body">
                <h5 class="card-title">Servicios</h5> 
                
              
              </div>
            </div>
          </div>
        </a>        
    </div>
    
    <div class="col-sm-3">
        <a href="#/sales" (click)="productCrear('Productos y otros',4)">
          <div class="card text-center border-info " >
            <div class="card-body">
              <h5 class="card-title">Productos y otros</h5>
              
            
            </div>
          </div>
        </a>        
    </div>
  </div>
</div>
<div *ngIf="catergory">
  <mat-vertical-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="productType">
      <form [formGroup]="productType">
          <ng-template matStepLabel>{{publicacion}}</ng-template>
          <mat-form-field>
          
          <mat-form-field appearance="outline" style="width: 100%  !important;">
              <mat-label>Producto</mat-label>
              <mat-select formControlName="firstCtrl" [(ngModel)]="vehiculoObjet.vehiculo" required>
                  <mat-option *ngFor="let item of _productType" [value]="vehiculo">
                      {{item}}
                  </mat-option>
              </mat-select>
          </mat-form-field>
          </mat-form-field>
          <div>
          <button mat-button matStepperNext>Next</button>
          </div>
      </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Fill out your address</ng-template>
          <mat-form-field>
          <input matInput placeholder="Address" formControlName="secondCtrl" required>
          </mat-form-field>
          <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
          </div>
      </form>
      </mat-step>


      <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
      </mat-step>
  </mat-vertical-stepper>
</div>
      