<div class="container">
  <mat-vertical-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="parentProductType">
        <form [formGroup]="parentProductType">
          <ng-template matStepLabel>{{publicacion}}</ng-template>
          <mat-form-field>          
              <mat-form-field appearance="outline" style="width: 100%  !important;">
                  <mat-label>Selecciona una categoria</mat-label>
                  <input type="text" matInput   formControlName="firstControl" placeholder="Categoria"  [matAutocomplete]="first" required>
                  <mat-autocomplete #first="matAutocomplete" (optionSelected)="filter_child()">
                    <mat-option *ngFor="let item of parentFilter  | async"  [value]="item.name" required>
                      {{item.name}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Continuar</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="childProductType" >
        <form [formGroup]="childProductType">
            <mat-form-field>          
              <mat-form-field appearance="outline" style="width: 100%  !important;">
                <mat-label>Selecciona una categoria</mat-label>
                <input type="text" matInput   formControlName="secondControl" placeholder="Categoria"  [matAutocomplete]="second" required>
                <mat-autocomplete #second="matAutocomplete">
                  <mat-option *ngFor="let item of secondFilter  | async"  [value]="item.name" required>
                    <a>{{item.name}}</a>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Regresar</button>
                <button mat-button matStepperNext>Continuar</button>
              </div>
          </form>
      </mat-step>

      <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
      </mat-step>
  </mat-vertical-stepper>
</div>
