<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col">

                                            <!-- Preguntas   -->
                                            <mat-card class="mat-card-m">
                                                <mat-card-header>
                                                    <mat-card-title class="over-title">
                                                        <mat-icon mat-list-icon>question_answer</mat-icon>  Preguntas 
                                                    </mat-card-title>
                                                </mat-card-header>
                                                <mat-card-content>
                                                    <mat-list style="margin-left: 5%">
                                                        <mat-list-item>
                                                            <h5 mat-line> 
                                                                <button [style.background-color]="countQuestions > 0 ? '#cf0a2c' : ''" (click)="openDialogQuestions()" class="btn btn-sm">{{ countQuestions }}</button>
                                                                <a (click)="openDialogQuestions()" href="javascript:void(0)">  Por responder</a>
                                                            </h5>
                                                        </mat-list-item>
                                                    </mat-list>
                                                </mat-card-content>
                                            </mat-card>

                                            <br>

                                           <!--  Publicaciones -->
                                            <mat-card class="mat-card-m">
                                                <mat-card-header>
                                                    <mat-card-title class="over-title">
                                                        <mat-icon mat-list-icon>bookmarks</mat-icon>  Publicaciones 
                                                    </mat-card-title>
                                                </mat-card-header>
                                                <mat-card-content>
                                                    <mat-list style="margin-left: 5%">
                                                        <mat-list-item>
                                                            <h5 mat-line> 
                                                                <button *ngIf="!_active" class="btn btn-sm">{{active}}</button>
                                                                <button *ngIf="_active" class="btn btn-sm btn-success">{{active}}</button>
                                                                <a href="javascript:void(0)">  Activas</a>
                                                            </h5>
                                                        </mat-list-item>

                                                        <mat-list-item>
                                                            <h5 mat-line> 
                                                                <button *ngIf="!_stop" class="btn btn-sm">{{stop}}</button>
                                                                <button *ngIf="_stop" class="btn btn-sm btn-danger">{{stop}}</button>
                                                                <a href="javascript:void(0)">  Pausadas</a>
                                                            </h5>
                                                        </mat-list-item>

                                                        <mat-list-item>
                                                            <h5 mat-line> 
                                                                <button *ngIf="!_finished" class="btn btn-sm">{{finished}}</button>
                                                                <button *ngIf="_finished" class="btn btn-sm btn-warning">{{finished}}</button>
                                                                <a href="javascript:void(0)">  Finalizadas</a>
                                                            </h5>
                                                        </mat-list-item>

                                                        <!-- mat-list-item>
                                                            <h5 mat-line> 
                                                                <button class="btn btn-sm">0</button>
                                                                <a href="javascript:void(0)">  Por revisar</a>
                                                            </h5>
                                                        </mat-list-item-->

                                                    </mat-list>
                                                </mat-card-content>
                                            </mat-card>

                                        </div>

                                        <div class="col">

                                            <!-- Operaciones   -->
                                            <mat-card class="mat-card-m">
                                                <mat-card-header>
                                                    <mat-card-title class="over-title">
                                                        <mat-icon mat-list-icon>credit_card</mat-icon>  Operaciones 
                                                    </mat-card-title>
                                                </mat-card-header>
                                                <mat-card-content>
                                                    <mat-list style="margin-left: 5%">
                                                        <mat-list-item>
                                                            <h5 mat-line> 
                                                                <button class="btn btn-sm">0</button>
                                                                <a href="javascript:void(0)">  Ventas pendientes</a>
                                                            </h5>
                                                        </mat-list-item>
                                                    </mat-list>
                                                </mat-card-content>
                                            </mat-card>

                                            <br>

                                            <!-- Estadisticas de ventas   -->
                                            <mat-card class="mat-card-m">
                                                <mat-card-header>
                                                    <mat-card-title class="over-title">
                                                        <mat-icon mat-list-icon>calendar_today</mat-icon>  Estadisticas de ventas 
                                                    </mat-card-title>
                                                </mat-card-header>
                                                <mat-card-content>
                                                    <div class="row">
                                                        <mat-tab-group>
                                                            <mat-tab>
                                                                <ng-template mat-tab-label>
                                                                Diario
                                                                </ng-template>
                                                                <mat-list style="margin-left: 5%">
                                                                    <mat-list-item>
                                                                        <h5 mat-line> 
                                                                            <button class="btn btn-sm">0</button>
                                                                            Hoy
                                                                        </h5>
                                                                    </mat-list-item>

                                                                    <mat-list-item>
                                                                        <h5 mat-line> 
                                                                            <button class="btn btn-sm">0</button>
                                                                            Ayer
                                                                        </h5>
                                                                    </mat-list-item>
                                                                </mat-list>
                                                            </mat-tab>
                                                            
                                                            <mat-tab>
                                                                <ng-template mat-tab-label>
                                                                Semanal
                                                                </ng-template>
                                                                
                                                                <mat-list style="margin-left: 5%">
                                                                    <mat-list-item>
                                                                        <h5 mat-line> 
                                                                            <button class="btn btn-sm">0</button>
                                                                            Desde el lunes
                                                                        </h5>
                                                                    </mat-list-item>

                                                                    <mat-list-item>
                                                                        <h5 mat-line> 
                                                                            <button class="btn btn-sm">0</button>
                                                                            Semana pasada
                                                                        </h5>
                                                                    </mat-list-item>

                                                                    <mat-list-item>
                                                                        <h5 mat-line> 
                                                                            <button class="btn btn-sm">0</button>
                                                                            Hace dos semanas
                                                                        </h5>
                                                                    </mat-list-item>
                                                                </mat-list>
                                                            </mat-tab>
                                                            
                                                            <mat-tab>
                                                                <ng-template mat-tab-label>
                                                                Mensual
                                                                </ng-template>
                                                            
                                                                <mat-list style="margin-left: 5%">
                                                                    <mat-list-item>
                                                                        <h5 mat-line> 
                                                                            <button class="btn btn-sm">0</button>
                                                                            Este mes
                                                                        </h5>
                                                                    </mat-list-item>

                                                                    <mat-list-item>
                                                                        <h5 mat-line> 
                                                                            <button class="btn btn-sm">0</button>
                                                                            Mes pasado
                                                                        </h5>
                                                                    </mat-list-item>
                                                                </mat-list>
                                                            </mat-tab>
                                                        </mat-tab-group>
                                                    </div>
                                                </mat-card-content>
                                            </mat-card>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <mat-card class="mat-card-m">
                                            <mat-card-header>
                                                <mat-card-title class="over-title">
                                                    Kiero Puntos
                                                </mat-card-title>
                                            </mat-card-header>
                                            
                                            <mat-card-content>
                                            <p>
                                                <mat-progress-bar color='warn' mode="determinate" [value]='valueBar'></mat-progress-bar>
                                                <span class="over-title">
                                                    Nivel 1 inicial 0 / 0 puntos
                                                </span>
                                            </p>
                                            </mat-card-content>
                                            <mat-card-actions>
                                        
                                            </mat-card-actions>
                                    </mat-card>
                                </div>
                            </div>
                        </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>